header {
  width: 100%;
  background-color: #84b5ca;
  /* background-image: linear-gradient(to right, #ff7854 0%, #ff5079 100%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
header .navbar-region {
  min-width: 700px;
  width: 80%;
  max-width: auto;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.navbar-region .left-area {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-area .title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.title img {
  width: 200px;
  height: 200px;
}
.title h4 {
  font-family: Arial, Helvetica, sans-serif;
}
.left-area .discover {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}
.discover .genres-group {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 500px;
  height: 250px;
  padding: 10px;
  background-color: aliceblue;
  z-index: 10;
  box-shadow: 1px 1px 10px #252525;
  color: #000;
  opacity: 0;
}
.active .genres-group {
  opacity: 1;
}
.genres-group .genres {
  width: 100%;
}
.discover h4 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}
.search-area {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-area .search-box {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box input {
  width: 91%;
  height: 100%;
  padding: 0px 20px;
  border: 1px solid gray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-box input:focus {
  border: 2px solid #3974c7;
  outline: none;
}
.search-box button {
  width: 9%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3974c7;
  border: 1px solid gray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-box button i {
  font-size: 20px;
  color: aliceblue;
}
.navbar-region .user-info {
  position: relative;
  width: fit-content;
  padding: 20px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.user-info span {
  min-width: 150px;
  font-size: 20px;
  font-weight: 600;
}
.fa-sort-down::before {
  position: relative;
  top: -3px;
}
.fa-sort-up::before {
  position: relative;
  top: 5px;
}
.active > .drop-down-list {
  visibility: visible;
}
.drop-down-list {
  visibility: hidden;
  width: 100%;
  padding: 10px;
  position: absolute;
  left: 0;
  /* bottom: -150px; */
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #8bb6f3;
  box-shadow: 0px 1px 2px 1px #8bb6f3;
}
.drop-down-list ul {
  width: 100%;
}
.drop-down-list ul li {
  font-size: 18px;
  display: flex;
  padding: 3px 8px;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  color: #4a7abc;
  border-bottom: 2px solid #8bb6f3;
  /* box-shadow: 0px 0.5px 1px 0.5px #d0dff4; */
}
.navbar-region .login-area {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.login-area button {
  width: 110px;
  height: 35px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  border: 1px solid gray;
  border-radius: 5px;
  border: none;
  /* box-shadow: 2px 5px 6px -2px rgba(69, 69, 69, 0.6); */
  /* background-color: #17a288; */
}
.header-background {
  width: 100%;
  height: 240px;
  background-image: url(http://localhost:4200/assets/images/background.jpg);
  background-size: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffffcc;
}
.header-background .title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
}
.header-background .desc {
  margin-top: 30px;
  width: 1000px;
  font-weight: 600;
  font-size: 20px;
  font-family: helvetica, sans-serif;
  text-align: center;
}
.container {
  width: 100%;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #c5375a;
}

/* component change passwrod */
.changePassword {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  overflow-y: hidden;
}

.active {
  visibility: visible;
}

.changePassword .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(81, 80, 80, 0.386);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay .content {
  position: relative;
  width: 400px;
  padding: 20px;
  height: fit-content;
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 0px 30px -7px rgb(40, 40, 40);
}

.content .remove {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  background-color: #183153;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.content .remove:hover {
  background-color: #182f4f;
  color: #d83a3a;
}

.change-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.change-box h4 {
  font-size: 25px;
  margin: 0;
  font-weight: 700;
  color: #2264e5;
  font-family: roboto, sans-serif;
  box-sizing: border-box;
}

.change-box .form-add,
.form-add form {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form .avata {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid rgb(41, 163, 182);
}
form .avata img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid rgb(242, 244, 245);
}
form .avata .choose-file {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: 0px 0px 2px rgb(55, 55, 55);
}
.choose-file input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

input {
  border: 1.8px solid gray;
}

input:focus {
  border: 1.8px solid #2264e5;
  outline: none;
}
input:hover {
  background-color: #f1f0f0a3;
}
form .info {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}
form .info input {
  border-radius: 6px;
}
form .info label {
  font-size: 16px;
  font-family: roboto, sans-serif;
}
form .info input {
  width: 350px;
  margin: 5px 0px;
  height: 40px;
  padding: 5px 15px;
  font-size: 24px;
  box-sizing: border-box;
  color: rgb(37, 36, 36);
}

form .info textarea {
  margin: 5px 0px;
  height: 45px;
  padding: 5px 15px;
  font-size: 16px;
  color: rgb(37, 36, 36);
}

.bnt-update-box {
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.bnt-update-box button {
  width: fit-content;
  padding: 0px 20px;
  height: 35px;
  padding-top: 3px;
  background-color: #2264e5;
  color: #fff;
  font-size: 17px;
  font-family: roboto, sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.bnt-update-box button i {
  margin-right: 8px;
  font-size: 20px;
}
.bnt-update-box button:hover {
  transform: scale(1.01);
  background-color: #3673ee;
}

.admin {
  bottom: -170px;
}

.user {
  bottom: -130px;
}
