
.list-genres .genres {
  position: relative;
  width: 100%;
  height: 180px;
  margin: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  cursor: pointer;
  box-shadow: 4px 23px 20px -25px rgba(37, 35, 35, 0.71);
  -webkit-box-shadow: 4px 23px 20px -25px rgba(37, 35, 35, 0.71);
  -moz-box-shadow: 4px 23px 20px -25px rgba(37, 35, 35, 0.71);
}

.genres img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

span {
  width: 285px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 15px 0 16px;
  font-size: 20px;
  line-height: 1.25;
  color: #fff;
  z-index: 10;
}
