<div class="w-full min-h-screen">
    <div class="w-full flex flex-col pl-16 pt-10 gap-6 items-start">
        <span class="flex items-start flex-col justify-start">
            <p class="text-3xl font-bold">{{genre}}</p>
        </span>
        <div class="flex gap-10">
            <div class="w-full h-[300px] cursor-pointer" *ngFor="let book of listBooks; let i = index"
                (click)="redirectToBookDetail(book._id)">
                <div class="w-[200px]">
                    <div>
                        <img class="h-full w-[200px] object-cover border border-gray-100 rounded-md"
                            [src]="setUrlImage(book.thumb)" [alt]="book.title">
                    </div>
                    <div>
                        <span class="font-medium cursor-pointer hover:underline text-sky-700">"{{book?.title}}" by
                            <span class="text-xs font-medium italic text-black">{{book?.author}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>