<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="flex justify-center items-center" style="position: absolute; left: 50%; transform: translateX(-50%);">
    <button (click)="clickPrev()">Prev</button>
    <div id="area" class="border mt-8 p-4 flex justify-center items-center"></div>
    <button (click)="clickNext()">Next</button>
</div>